.full .big-slider {
	margin:30px auto;
	width: 1178px;
}



.boxed .row .big-slider.flexslider,.boxed-margin .row .big-slider.flexslider {margin-left:0px;}
	
.full .big-slider.fullwide {width:100%}

.full .big-slider.fullwide.flexslider .slides img {
    height: auto;
}

.big-slider .flex-direction-nav a {
	bottom: 9% !important;
	top: auto !important;
	opacity: 1 !important;
	padding: 8px 17px;
	background-color: #fff;
	background-color: rgba(255,255,255,.7);
	border-radius:15px;
}

.big-slider .flex-direction-nav{
	opacity:0;
	margin:0;
	padding:0;
	list-style:none;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.big-slider:hover .flex-direction-nav{opacity:1}

.big-slider .flex-direction-nav a:hover {
	background-color: #fff !important;
}
.big-slider .flex-direction-nav a i {
	color: #000;
	font-size: 17px;
}
.big-slider .flex-direction-nav .flex-next {
	right: 30px !important;
}
.big-slider .flex-direction-nav .flex-prev {
	right: 84px !important;
	left: auto !important;
}

.big-slider h3 {
	position: absolute;
	bottom: 20%;
	left: 3%;
	font-size: 24px;
	background:#fff;
	background: rgba(255,255,255, 0.7);
	color: #333;
	padding: 10px 20px;
	font-weight: normal;
	text-transform: uppercase;
	display: none;
	border-radius:15px;
}
.big-slider.fullwide h3{
	/*bottom: 18%;*/
	}

.big-slider p {
	position: absolute;
	bottom: 9%;
	left: 3%;
	right:12%;
	background:#fff;
	background: rgba(255,255,255, 0.7);
	color: #333;
	padding: 11px 18px;
	display: none;
	line-height:18px;
	border-radius:15px;
}
.big-slider.fullwide p{
	right: 30%;
	}
.big-slider.flexslider .flex-active-slide h3.effect {
	-webkit-animation: fadeInDown 1.2s 1;
	animation: fadeInDown 1.2s 1;

}
.big-slider.flexslider .flex-active-slide p.effectt {
	-webkit-animation: fadeInUp 1.3s 1;
	animation: fadeInUp 1.3s 1;

}


.flexslider.vertical i.fa-angle-left:before{content:"\f107"}
.flexslider.vertical i.fa-angle-right:before{content:"\f106"}

/* 	Flex Slider
----------------------------------------------------------------------*/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles */ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: block; width: 100%;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px 0; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);}
.flex-viewport {max-height: 2000px;border-radius:15px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.carousel li {margin-right: 5px}

/* Direction Nav */
.flex-direction-nav a {margin: -20px 0 0; display: block;background-color: #272727; padding: 8px; position: absolute; top: 50%; cursor: pointer; opacity: 0; -webkit-transition: all .3s ease;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.flex-direction-nav a:hover {background-color: #696969;}
.flex-direction-nav a i {color: #fff;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 8px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 8px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 0.8;}
.flex-direction-nav .flex-disabled {opacity: 0.3 !important; cursor: default;}

/* Control Nav */
.flex-control-nav {position: absolute; text-align: center;right: 20px;bottom: 10px;}
.flex-control-nav li {margin: 0 6px; display: inline-block;}
.flex-control-paging li a {background-color: #BDBEC4;width: 8px; height: 8px; display: block; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.m-thumb .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background-color: #696969; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
	.flex-direction-nav .flex-next {opacity: 1; right: 0;}
	.big-slider h3{bottom:30%;}
}

/**	Overwrite original style     **/
.flexslider {
	margin: 0 ;
	background-color : transparent;
	border: none;
	position: relative;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
/**	Control nav	**/
.flex-control-nav li {
	padding: 4px;
	margin: 0;
}
.flexslider.position-nav-under .flex-control-nav {
	position : absolute;
	top: 4px;
	right: 4px;
}
.testimonial-wrapper .flex-control-nav {
	position : absolute;
	bottom: 4px;
	right: 4px;
}
.flexslider.flexslider.position-nav-under {
	margin-bottom: 0px;
}
.flexslider.position-nav-bottom .flex-control-nav {
	position : absolute;
	bottom:9px;
}
.flexslider.position-nav-top .flex-control-nav {
	position : absolute;
	top:9px;
}
.color-nav-dark .flex-control-paging li a {
	background-color : #A7A7A7;
	background-color: rgba(236, 236, 236, 0.3);
	box-shadow: inset -1px 1px 1px rgba(0,0,0,0.5);
}
.color-nav-dark .flex-control-paging li a:hover, .color-nav-dark .flex-control-paging li a.flex-active {
	background-color: #618BD3
}
.color-nav-light .flex-control-paging li a {
	background-color : #999;
	background-color: rgba(255,255,255,0.55);
	box-shadow: inset -1px 1px 1px rgba(0,0,0,0.5);
}
.color-nav-light .flex-control-paging li a:hover {
	background-color: #bbb;
	background-color: rgba(255,255,255,0.70);
}
.color-nav-active-black .flex-control-paging li a.flex-active {
	background-color: #111;
}
.color-nav-active-green .flex-control-paging li a.flex-active {
	background-color: #359BED;
}
.color-nav-active-orange .flex-control-paging li a.flex-active {
	background-color: #ec6104;
}
.flex-active {
	background-color: #fff;
}
.color-nav-active-red .flex-control-paging li a.flex-active {
	background-color: #c61013;
}
.color-nav-active-white .flex-control-paging li a.flex-active {
	background-color: #fff;
}

/**	Slide theme 	**/
.flex-slide-theme-horizontal {
	margin-top:25px;
	margin-bottom:30px;
	border-left:1px solid #555;
	border-right:1px solid #555;
	border-color:rgba(0,0,0,0.6);
}
.flex-slide-theme-horizontal .slide-theme {
	display: block;
	height: 100%;
	top:0;
	left: 0;
	position: absolute;
	width:100%;
	z-index:-1;
}
.flex-slide-theme-horizontal .slide-theme-side {
	display: block;
	height: 26px;
	position: absolute;
	width: 45px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-bottom-left {
	background-position: -2px -28px;
	bottom: -26px;
	left: -1px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-top-left {
	background-position: -2px 0px;
	top: -26px;
	left: -1px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-bottom-right {
	background-position: -64px -28px;
	bottom: -26px;
	right: -2px;
}
.flex-slide-theme-horizontal .slide-theme-side.slide-top-right {
	background-position: -64px 0px;
	top: -26px;
	right: -2px;
}
.flex-slide-theme-vertical {
	margin-left:25px;
	margin-right:25px;
	border-top:1px solid #555;
	border-bottom:1px solid #555;
	border-color:rgba(0,0,0,0.6);
}
.flex-slide-theme-vertical .slide-theme {
	display: block;
	height: 100%;
	top:0;
	left: 0;
	position: absolute;
	width:100%;
	z-index:-1;
}
.flex-slide-theme-vertical .slide-theme-side {
	display: block;
	height: 40px;
	position: absolute;
	width: 25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-bottom-left {
	background-position: -111px -13px;
	bottom: -1px;
	left: -25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-top-left {
	background-position: -167px -16px;
	top: -1px;
	left: -25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-bottom-right {
	background-position: -139px -13px;
	bottom: -1px;
	right: -25px;
}
.flex-slide-theme-vertical .slide-theme-side.slide-top-right {
	background-position: -195px -16px;
	top: -1px;
	right: -25px;
}

/**	Custom theme	**/
.theme-border-radius-01, .theme-border-radius-01 ul.slides li img {
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.theme-border-radius-01.position-caption-bottom-left .flex-caption, .theme-border-radius-01.position-caption-bottom-right .flex-caption, .theme-border-radius-01.position-caption-bottom-centered .flex-caption {
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.theme-border-radius-01.position-caption-top-left .flex-caption, .theme-border-radius-01.position-caption-top-right .flex-caption, .theme-border-radius-01.position-caption-top-centered .flex-caption {
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.theme-border-radius-02, .theme-border-radius-02 ul.slides li img {
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.theme-border-radius-02.position-caption-bottom-left .flex-caption, .theme-border-radius-02.position-caption-bottom-right .flex-caption, .theme-border-radius-02.position-caption-bottom-centered .flex-caption {
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
.theme-border-radius-02.position-caption-top-left .flex-caption, .theme-border-radius-02.position-caption-top-right .flex-caption, .theme-border-radius-02.position-caption-top-centered .flex-caption {
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.theme-border-radius-03, .theme-border-radius-03 ul.slides li img {
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.theme-border-radius-03.position-caption-bottom-left .flex-caption, .theme-border-radius-03.position-caption-bottom-right .flex-caption, .theme-border-radius-03.position-caption-bottom-centered .flex-caption {
	-webkit-border-radius: 0 0 12px 12px;
	border-radius: 0 0 12px 12px;
}
.theme-border-radius-03.position-caption-top-left .flex-caption, .theme-border-radius-03.position-caption-top-right .flex-caption, .theme-border-radius-03.position-caption-top-centered .flex-caption {
	-webkit-border-radius: 12px 12px 0 0;
	border-radius: 12px 12px 0 0;
}

.theme-border-radius-04, .theme-border-radius-04 ul.slides li img {
	-webkit-border-radius: 24px;
	border-radius: 24px;
}
.theme-border-radius-04.position-caption-bottom-left .flex-caption, .theme-border-radius-04.position-caption-bottom-right .flex-caption, .theme-border-radius-04.position-caption-bottom-centered .flex-caption {
	-webkit-border-radius: 0 0 24px 24px;
	border-radius: 0 0 24px 24px;
}
.theme-border-radius-04.position-caption-top-left .flex-caption, .theme-border-radius-04.position-caption-top-right .flex-caption, .theme-border-radius-04.position-caption-top-centered .flex-caption {
	-webkit-border-radius: 24px 24px 0 0;
	border-radius: 24px 24px 0 0;
}
.theme-border-01 ul.slides {
	padding: 2px;
}
.theme-border-02 {
	padding: 4px;
}
.theme-border-03 ul.slides {
	padding: 7px;
}
.theme-border-04 ul.slides {
	padding: 10px;
}
.theme-shadow-normal {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.6);
	box-shadow: 0 1px 4px rgba(0,0,0,0.6);
}
.theme-shadow-large {
	-webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.4);
	box-shadow: 0 1px 15px rgba(0,0,0,0.4);
	margin:10px;
}
/** Custom CSS by JoomSpirit **/
.flexslider {
	overflow:visible !important;
}
.flexslider ul.slides {
	background-color: transparent;
	padding:0;
	margin:0;
	list-style:none;
}
.flexslider .slides > li {
	position:relative;
}
.flexslider ul.slides li a {
	display:block;
}
.flexslider .flex-caption {
	position : absolute ;
	left:0;
	margin: 20px;
	padding:10px 10px;
	z-index:10;
}
.flexslider ul.slides li a, .flexslider ul.slides li a:hover {
	color : inherit;
}
.flexslider ul.slides li .flex-caption a {
	display:inline;
	color: #359BED;
}
.flexslider ul.slides li .flex-caption a:hover {
	color : inherit;
	text-decoration: underline;
}
.flexslider ul.slides li a .flex-caption:hover {
	text-decoration: none;
	color : inherit;
	cursor:pointer;
}
.flexslider.position-caption-bottom-left .flex-caption{
	bottom:0;
	text-align:left;
}
.flexslider.position-caption-bottom-right .flex-caption {
	bottom:0;
	text-align:right;
}
.flexslider.position-caption-bottom-centered .flex-caption {
	bottom:0;
	text-align:center;
}
.flexslider.position-caption-top-left .flex-caption {
	top:0;
	text-align:left;
}
.flexslider.position-caption-top-right .flex-caption {
	top:0;
	text-align:right;
}
.flexslider.position-caption-top-centered .flex-caption {
	top:0;
	text-align:center;
}
.flexslider.bg-caption-black-00 .flex-caption {
	background-color : #000;
	background-image : none;
}
.flexslider.bg-caption-white-00 .flex-caption {
	background-color : #fff;
	background-image : none;
}
.flexslider.bg-caption-white-09 .flex-caption, .flexslider.bg-caption-black-09 .flex-caption {
	background-color : transparent;
	background-image : none;
}
.flexslider.bg-caption-black-02 .flex-caption {
	background: black;
	opacity: 0.8;
}
.projectslider .flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: 20px !important;
	bottom: 20px !important;
	top: auto;
	opacity: 1 !important;
}
.projectslider .flex-direction-nav .flex-prev {
	left: auto !important;
	right: 57px !important;
	bottom: 20px !important;
	top: auto;
	opacity: 1 !important;
}
.projectslider .flex-direction-nav a {
	padding: 8px 14px !important;
	font-size: 20px !important;
	background-color: #FFF;
	color: #191919;
}
.projectslider .flex-direction-nav a:hover {background-color: #191919;}
.projectslider .flex-direction-nav a i {color: #191919;}


@media only screen and (min-width: 100px) and (max-width: 1250px) {
	.full .big-slider{width:100% !important}
	.flexslider .slides img{height:auto !important}
}
@media only screen and (min-width: 100px) and (max-width: 767px) {
	.big-slider h3 {
		bottom: 5%;
		font-size: 16px;
		line-height: 16px;
	}
	.big-slider .flex-direction-nav a {padding: 5px 13px;}
	
	.big-slider .flex-direction-nav .flex-prev {right: 67px !important;}
}
@media only screen and (min-width: 100px) and (max-width: 479px) {
	.big-slider h3 {
		bottom: 5%;
		font-size: 14px;
		line-height: 16px;
		padding:5px;
	}
}
