/* #Start hiding menu and showing mobile nav
----------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 1010px) {
	#mobile_m {display: none !important}
	.mobile_menu {display: block}
	.sf-menu li.current-menu-item > a:after,
	.sf-menu li.current-menu-item > a:before{content:"";}

	.header_v4 .center-menu .search_fit_cart {margin: 30px 0 0 15px;border-left: none;padding:0}
	.header_v4 .mobile_menu {float: none;margin: 44px 0 20px 0px;display: inline-block !important;vertical-align: super;}
	.header_v5 .mobile_menu {float: left;margin: 44px 26px 20px 25px;}
	
	.kwicks li{width:100% !important;left: auto !important;margin-bottom: 30px !important;position: relative !important;} 
	.kwickslider ul{overflow:visible !important}
	.kwick_caption_text{width:86% !important;}
	.three-column .blog_post {width: 26% !important}
	.header_v6 .mobile_menu {float: left;margin:17px 20px 18px 0;}
	
	.mm-menu {
		position: fixed;
		top: 0;
	}
	.roundabout ul {width:55%;}
	
}
/* #Tablet (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1250px) {
	body {overflow-x: hidden}
	.boxed, .boxed-margin {width: 90%;margin: 0 auto !important}
	.row { width: 95% !important }
	.sticky, .header_b {width: 100% !important;left: 0;top: 0}
	.flickr-photos li {margin: 0 6px 6px 0}
	.masonry .mitem, .shop_custom_widgets .widget {width: 47.5%}
	.shop_custom_widgets {padding: 40px 0 !important}
	.clearfix.mbs .grid_2 {width: 31%;text-align: center}
	.counter_box.clearfix.mbs .grid_2 {width: 24%}
	.counter_box.clearfix.mbs .grid_7 {width: 46%}
	.countdown li {padding: 0 20px}
	.folio_grid li {width: 31%}
	.folio_grid.four_col li:nth-child(4n), .folio_grid.three_col li:nth-child(3n), .folio_grid.two_col li:nth-child(2n) {margin-right:2%;}
	.folio_grid.four_col li:nth-child(3n), .folio_grid.three_col li:nth-child(3n), .folio_grid.two_col li:nth-child(2n) {margin-right:0;}
	.two_col li {width: 44%}
	.with_details figure {width: 47%}
	.splitter ul li a, .filter_masonry ul li a {padding: 6px 10px}
	.grid_9 .three_col li, .grid_9 .two_col li {width: 48%}
	.myslicebox {width: 86%}
	#kenburning {height: 400px !important}
	.isrtl .sf-menu li > a {padding: 0 0 30px 25px;}
	.header_v4 .center-menu .sf-menu > li > a {padding: 0 10px 30px;}
	.sf-menu a span.subtitle {font-size: 11px;}
	.header_v6 .thead .sf-menu{margin-left:0}
	.sf-menu a{padding-right:10px;padding-left:10px;}
	.roundabout ul {width:60%;}


}

/* #Tablet (Portrait)
----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {overflow-x: hidden}
	.boxed, .boxed-margin {width: 100%;margin: 0 auto !important}
	.row { width: 95% !important}
	.sticky, .header_b {width: 100% !important;left: 0;top: 0}
	#mobile_m {display: none}
	.mobile_menu {display: block}
	.flickr-photos li {margin: 0 6px 6px 0}
	.social a {padding: 6px 12px;font-size: 12px}
	.thead .info_bar {font-size: 12px}
	.ls-inner .btn.xlarge {font-size: 14px}
	.progress-section .grid_3, .parallax3 .grid_3, .services .grid_4, .services_b .grid_3, footer .grid_3 {width: 48% !important;margin-top: 20px;margin-bottom: 20px}
	.services .grid_3, .services .grid_6 {width: 100% !important;margin-top: 20px;margin-bottom: 20px}
	.services li {position: relative}
	.parallax1 .grid_6 {width: 100%}
	.full_gray .btn.small {padding: 3px 8px}
	.masonry .mitem, .shop_custom_widgets .widget {width: 47.5%}
	.shop_custom_widgets {margin: 0 !important}
	.clearfix.mbs .grid_2 {width: 31%}
	.clearfix.mbs .grid_10.alpha, .clearfix.mbs .grid_10.omega {width: 64%}
	.counter_box.clearfix.mbs .grid_2 {width: 24%}
	.counter_box.clearfix.mbs .grid_7 {width: 46%}
	.countdown li {padding: 0 10px}
	.countdown li span {font-size: 30px}
	.folio_grid li {width: 47.5%}
	.folio_grid.three_col li:nth-child(3n){margin-right:2%}
	.folio_grid.three_col li:nth-child(2n){margin-right:0}
	.two_col li, .with_details figure {width: 47%}
	.two_col.with_details li {width:95%}
	.splitter ul li a, .filter_masonry ul li a {padding: 6px 10px}
	.splitter .sort_by {width: 100%;float: left;padding: 20px 0}
	.grid_9 .three_col li, .grid_9 .two_col li {width: 48%}
	.myslicebox, .shadow {width: 86%}
	#kenburning {height: 400px !important}
	.modern-slider, .modern-slider img {height: auto}
	.process_box.horizontal_process{padding-left: 35px;}
	.process_box span {font-size: 55px;top:25px}	
	.process_box h3 {font-size:18px;}
	.sb-slider h3{line-height: 16px;font-size: 13px;padding: 10px;}
	.copyright {padding: 0 0 10px;width: 100%;text-align:center}
	.foot-menu {width: 100%;text-align:center}
	.foot-menu li {display: inline-block;float: none;padding: 0 10px}
	ul.children{padding-left:30px}
	.roundabout li {padding: 15px;width:430px;}
}

/* #Mobile
----------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 767px) {
	body {overflow-x: hidden;position:inherit;}
	.boxed, .boxed-margin {width: 100%;margin: 0 auto !important}
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12,
	.grid_1_5,.grid_2_5,.grid_3_5,.grid_4_5,.grid_1_5.alpha,.grid_1_5.omega,.grid_2_5.alpha,.grid_2_5.omega,.grid_3_5.alpha,.grid_3_5.omega,.grid_4_5.alpha,.grid_4_5.omega,.grid_1_5.alpha.omega,.grid_2_5.alpha.omega,.grid_3_5.alpha.omega,.grid_4_5.alpha.omega,
	.action-one .action-t {width: 100% !important;margin: 0 0 50px !important;}
	.row { width: 94% !important }
	.sticky, .header_b {width: 100% !important;left: 0;top: 0}
	.header_b {top: 0 !important}
	#mobile_m, .ls-inner .btn.xlarge {display: none}
	#sync2, .big-slider p, .labele {display: none !important}
	.mobile_menu {display: block}
	.flickr-photos li {margin: 0 6px 6px 0}
	.thead .info_bar {font-size: 12px}
	.services .grid_3, .services .grid_6 {width: 100% !important;margin-top: 20px;margin-bottom: 20px}
	.services li {position: relative}
	.parallax1 .grid_6 {width: 100%}
	.full_gray .btn.small {padding: 3px 8px}
	.masonry .mitem, .shop_custom_widgets .widget {width: 100%}
	.shop_custom_widgets {margin: 0 !important}
	.clearfix.mbs .grid_2 {width: 30% !important;margin: 0}
	.clearfix.mbs .grid_10.alpha, .clearfix.mbs .grid_10.omega {width: 61% !important;margin: 0}
	.counter_box.clearfix.mbs .grid_2 {width: 100% !important;margin: 0}
	.counter_box.clearfix.mbs .grid_10, .counter_box.clearfix.mbs .grid_10 {width: 100% !important;margin: 0}
	.counter_box {text-align: center;}
	.countdown li {padding: 0 10px}
	.countdown li span {font-size: 30px}
	.folio_grid li {width: 47.5%}
	
	.two_col.with_details li {width: 95%}
	.splitter ul li a, .filter_masonry ul li a {padding: 6px 10px}
	.splitter .sort_by {width: 100%;float: left;padding: 20px 0}
	.grid_9 .three_col li, .grid_9 .two_col li {width: 100%}
	.myslicebox, .shadow {width: 78%}
	#kenburning {height: 310px !important}
	#popup, #popup_shop {width: 340px}
	.minus_margin_full {margin: 0 !important}
	.page-content {margin: 50px 0 0 !important}
	.item .grid_5.alpha, .item .grid_5.omega {width: 39.667% !important}
	.item .grid_7.alpha, .item .grid_7.omega {width: 56.333% !important}
	.modern-slider, .modern-slider img {height: auto}
	.two-column .blog_post, .three-column .blog_post {width: 90% !important;margin: 0 0 20px !important}
	.two-column .blog_post.sticky, .three-column .blog_post.sticky {width: 89.4% !important}
	.search_fit_cart {border-left:none; padding:0;}
	.isrtl .search_fit_cart {border-right:none; padding:0;}
	.process_box {margin:75px 0;text-align:center;padding-left: 0 !important;}
	.process_box span {left:47%;top: -30px;font-size:65px}
	.isrtl .process_box {padding-right: 0 !important;}
	.isrtl .process_box span {left:47%;right:auto}
	.divider i {left: 46.4%;}
	.theme-default .nivo-caption {font-size: 13px;padding: 5px;}
	.sb-slider h3{line-height: 14px;font-size: 12px;padding: 5px;}
	.nav-arrows a{left:-11%;top:55%}
	.nav-arrows a:first-child{right:-11%}
	header .close_search, header .close_shop {right: 46%;top:40px}
	.s_form{margin-left: 12%;width: 76%;}
	header .search input {font-size:18px;}
	#popup .search_place, #popup_shop .shop_place{margin-top:0}
	.tp-rightarrow.default,.tp-leftarrow.default{display:none}
	.header_v6 .head .info_bar, .header_v6 .head .social{width:100%;text-align:center;margin: 0px 0 20px;}
	.header_v6 .head .logo {margin: 40px auto 20px;text-align: center;float: none;}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{float: left !important;margin-right:3.8% !important;clear:none !important}
	.woocommerce-page ul.products.pr_3_col li.product:nth-child(3n), .woocommerce.columns-3 ul.products li.product:nth-child(3n){margin-right:0 !important}
	.bizpro-shop h3 small{display:block;padding:0}
	.btn{margin-bottom:10px}
	h2{line-height:36px}
	h3{line-height:30px}
	h4{line-height:26px}
	.custom_block2 li.active {margin: 0 8px 0px;}
	.custom_block2 li {margin: 0 8px 8px;}
	.progress-bar {margin:70px 0 10px 0;}
	.vc_pie_chart {width: 70%;float: none; margin: 0 auto 30px !important;}
	.page-template-page-onepage .vc_pie_chart .vc_pie_wrapper {margin: 60px auto 0;}
	.featured_table {transform: scale(1, 1);}
	.wpb_column{margin-bottom:20px}
	.gmap{float:left}
	.copyright {padding: 0 0 10px;width: 100%;text-align:center}
	.foot-menu {width: 100%;text-align:center}
	.foot-menu li {display: inline-block;float: none;padding: 0 10px}
	.hasScrolled .mobile_menu {margin: 28px 20px 20px 0;}
	.folio_grid.three_col li:nth-child(3n){margin-right:2%}
	.folio_grid.three_col li:nth-child(2n){margin-right:0}
	.four_col.msnry li,.five_col.msnry li,.three_col.msnry li,.two_col.msnry li {width:47.9% !important;}
	.with_details figure{width: 47%}
	.one_col.with_details figure {width: 43%}
	.one_col.with_details h3 {font-size: 22px;}
	.blog_post .cats span {font-size: 12px;}
	.sidebar {height: auto !important;}
	.kwickslider ul li:hover .kwick_caption h4{width:86% !important}
	.widget.is_stuck{position:relative !important}
	header.overlay-header{position:relative}
	
	.header_v7 .search_fit_cart{
		margin: 10px 0;
		text-align: center;
		width: 100%;
		border-left:none;
		}
	.search_fit_cart div.search_icon {
		display: inline-block;
		float: none;
		margin: 0 5px;
	}
	
	.search_fit_cart > div {
		display: inline-block;
		float: none;
		margin: 0 5px;
	}
	ul.children{padding:0}
	.roundabout li {padding: 10px;width:auto;}
	.roundabout {margin:100px 0 170px;}
	
}

@media only screen and (min-width: 100px) and (max-width: 479px) {
	
	.logo{max-width:200px;}
	.divider i{left:41% !important}
	.search_fit_cart {margin: 36px 0;}
	.mobile_menu {margin: 38px 20px 20px 0;}
	#popup, #popup_shop {width: 280px}
	.error404 .widget #searchwidget {width: 250px;}
	.header_v5 .search_fit_cart {border-right: none;padding:0}
	.header_v5 .head .logo {max-width:110px}
	.header_v11 .search_fit_cart,.header_v12 .search_fit_cart{display: none;}
	.header_v11 .mobile_menu,.header_v12 .mobile_menu{margin-right:0}
	.process_box span{left:44%}
	.woocommerce-page ul.products.pr_3_col li.product, .woocommerce.columns-3 ul.products li.product{width:48% !important}
	.woocommerce-page ul.products.pr_3_col li.product:nth-child(3n), .woocommerce.columns-3 ul.products li.product:nth-child(3n){margin-right:3.8% !important}
	.woocommerce-page ul.products.pr_3_col li.product:nth-child(2n), .woocommerce.columns-3 ul.products li.product:nth-child(2n){margin-right:0 !important}
	.foot-menu li {display:block}
	.folio_grid li {width: 100%;margin-bottom:15px;}
	.four_col.msnry li,.five_col.msnry li,.three_col.msnry li,.two_col.msnry li {width:100% !important;}
	.one_col li,.two_col li, .with_details figure{width: 100% !important}
	.with_details .item_det,.one_col .item_det {width: 90%}
	.with_details .item_det {padding:15px 0 0 3px !important;}
	.blog_post .cats span {font-size: 11px;}
	.splitter ul, .filter_masonry ul {margin-top: 20px !important;}
	.head .info_bar{font-size: 4vw;}
	.roundabout {margin: 80px 0 130px;}
	
}
